.statistics {
  width: 500px;
  border: 1px solid rgb(170, 166, 166);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 40px auto 0 ;
}
.title {
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  padding: 50px 0 50px 0;
}

.stat_list {
  margin: 0;
    display: flex;
    padding: 0;
}

